.loader {
  background: none repeat scroll 0 0 #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.loader .loader_inner {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
.loader .loader_inner:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content: '';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}
@keyframes animate2 {
  0% {
    box-shadow: inset #b3dfd8 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #b3dfd8 0 0 0 2px;
  }
  100% {
    box-shadow: inset #b3dfd8 0 0 0 17px;
    transform: rotate(140deg);
  }
}

a {
  text-decoration: none;
}

.home_page {
  list-style-type: none;
  padding-inline-start: 50px;
}

.home_page_link {
  color: black;
  font-size: 1.2rem;
}

#search_pokemon {
  padding-inline-start: 50px;
}

#pokemonList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item_pokemon {
  margin: 10px;
  padding: 10px;
  width: 100px;
  height: auto;

  background-color: #8df2e9;
  border: 2px solid #008080;
  border-radius: 20px;
  text-align: center;
}

.item_pokemon:hover {
  background-color: #5b9d98;
  border-color: #002626;
}

.link_pokemon {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline_pokemon {
  font-size: 60px;
  margin: 20px;
}

.name_pokemon {
  font-size: 50px;
  margin: 10px;
}

.img_pokemon {
  width: 20%;
}

.hide {
  display: none;
}

.active {
  display: block;
  text-decoration: none;
}

#pagination {
  display: flex;
  gap: 10px;
  padding: 0;
  align-items: center;
}

.main_page_pagination {
  font-size: 1.2rem;
  border: solid 2px #46e6e6;
  background-color: #c1ebeb;
  width: 20px;
  height: 20px;
  border-radius: 5px;

  display: inline-block;
  text-align: center;
}

.first_point {
  order: 0;
  list-style-type: none;
}

.last_point {
  order: 2;
  list-style-type: none;
}

#buttons_control_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#buttons__control_pokemon {
  display: flex;
  justify-content: center;
  gap: 10px;
}
